<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/style.css">
    <link rel="shortcut icon" href="./assets/img/logo_ae.png" type="image/x-icon">
    <title>Details | Amazing Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
    <nav class="navMain navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"><img src="./assets/img/logo_ae.png" alt="" class="imgLogo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav gap-3">
                    <li class="nav-item">
                        <a class="nav-link border border-1 rounded-4 bg-primary text-light fs-4 border-secondary"
                            href="./index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-1 rounded-4 bg-primary text-light fs-4 border-secondary"
                            href="./upcoming.html">Upcoming Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-1 rounded-4 bg-primary text-light fs-4 border-secondary"
                            href="./past.html">Past Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-1 rounded-4 bg-primary text-light fs-4 border-secondary"
                            aria-current="page" href="./contact.html">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link border border-1 rounded-4 bg-primary text-light fs-4 border-secondary"
                            href="./stats.html">Stats</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="app">
        <main class="d-flex justify-content-center align-items-center">
            <div class="p-5 d-flex justify-content-center align-items-center bg-dark rounded-4">
                <template v-for="evento of eventos">
                    <div class="card rounded-4" style="width: 18rem;" v-if="evento._id == id">
                        <img :src="evento.image" class="card-img-top" :alt="evento.name">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text"></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span class="fw-bolder">Place: </span>{{evento.name}}</li>
                            <li class="list-group-item"><span class="fw-bolder">Date: </span>{{evento.date}}</li>
                            <li class="list-group-item"><span class="fw-bolder">Capacity: </span>{{evento.capacity}}</li>
                            <li class="list-group-item"><span class="fw-bolder">Category: </span>{{evento.category}}</li>
                            <li class="list-group-item"><span class="fw-bolder">Price: </span>{{evento.price}}</li>
                        </ul>
                        <div class="card-body">
                            <a href="./index.html"
                                class="card-link bg-primary rounded-2 text-light text-decoration-none p-2 fs-7">Home</a>
                            <a href="./upcoming.html"
                                class="card-link bg-primary rounded-2 text-light text-decoration-none p-2 fs-6">Upcoming</a>
                            <a href="./past.html"
                                class="card-link bg-primary rounded-2 text-light text-decoration-none p-2 fs-6">Past</a>
                        </div>
                    </div>
                </template>
            </div>
        </main>
    </div>
    <footer class=" bg-danger d-flex align-items-center justify-content-between">
        <nav class="nav">
            <a class="nav-link" href="https://www.facebook.com" target="_blank"><img
                    src="./assets/img/facebook_logo.png" alt="" class="fbLogo"></a>
            <a class="nav-link" href="https://www.instagram.com" target="_blank"><img
                    src="./assets/img/instagram_logo.png" alt="" class="igLogo"></a>
            <a class="nav-link" href="https://www.whatsapp.com" target="_blank"><img src="./assets/img/ws_logo.png"
                    alt="" class="wsLogo"></a>
        </nav>
        <p class="text-light fs-3 text-center">Made by: Carlos Aurelio Rodríguez Contreras</p>
        <div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
            <p class="fs-3 text-light text-center">Cohort 34</p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/data.js"></script>

    <script src="./assets/js/index.js"></script>
</body>

</html>